html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }
body{
  background-color: rgb(223, 217, 217);
}
h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
}
h2{
  text-transform:uppercase;
  font-size:20pt;
  color:#fff;
    span{
      font-family: 'PT Sans', sans-serif;
      font-size:32pt;
         @include respond-to(medium-screens){
          font-size:44pt;
         }
         @include respond-to(large-screens){
          font-size:60pt;
         }
    }
    @include respond-to(medium-screens){
          font-size:29pt;
       }
       @include respond-to(large-screens){
          font-size:43pt;
       }
}


.intro {
    width: 100%;
    min-height: 291px;
    background-color: blue;
    background-image: url("http://web.kateeldridge.co/Alec/_/images/HomePageScene.png");
    height: 100%;
    background-size:cover;
       @include respond-to(small-screens) {
          min-height:335px;
       }
       @include respond-to(smaller-screens){
          min-height: 379px;
       }
        @include respond-to(medium-screens){
          min-height:511px;
       }
       @include respond-to(large-screens){
          min-height:773px;
          height:100%;
       }
}
.intro-copy {
    position: relative;
    top: 134px;
    text-align: center;
     @include respond-to(small-screens) {
        top:189px;
     }
     @include respond-to(smaller-screens){
        top:200px;
     }
     @include respond-to(medium-screens){
        top:228px
     }
     @include respond-to(large-screens){
          top:256px;
       }
}    
.logo{
  text-align:center;
    img{
      width:40px;
      height:40px;
      @include respond-to(medium-screens){   
        width: 60px;
        height: 60px;
      }  
       @include respond-to(large-screens){
        width: 80px;
        height: 80px;
       }
    }
}
.bottom{
    min-height: 277px;
    background-color: #dfd9d9;
    z-index:2;

    @include respond-to(small-screens){
          min-height:325px;
       }  
}
.bottom-before{
    content: " ";
    position: relative;
    left: 0;
    top:-18px;
    width: 100%;
    background-color: rgb(223, 217, 217);
    height: 32px;
    transform: skew(0deg, -4.2deg);
    -webkit-transform: skew(0deg, -4.2deg);
    -moz-transform: skew(0deg, -4.2deg);
    -o-transform: skew(0deg, -4.2deg);
    -ms-transform: skew(0deg, -4.2deg);
    float: left;
    position: relative;
    @include respond-to(small-screens){
      top:-19px;
      height:37px;
    }
    @include respond-to(smaller-screens){
      top: -22px;
      height: 44px;
    }
    @include respond-to(medium-screens){
      top: -29px;
      height: 57px;
    }  
    @include respond-to(large-screens){
      top: -26px;
      height: 52px;
    }
}

.bottom-copy{
    padding: 0 6%;
      p{
        z-index: 1;
        font-family: 'Open Sans', sans-serif;
        line-height: 1.3;
        font-size: 11pt;
        position: relative;
        bottom: 16px;
          @include respond-to(small-screens){
             padding: 11% 1% 2%;
             font-size:12pt
          } 
          @include respond-to(smaller-screens){
            font-size: 12pt;
            padding-bottom: 4%;
          }
          @include respond-to(medium-screens){
            font-size:14pt;
          }  
              span{
              color: #FF548D;
              text-transform: uppercase;
              font-size: 18pt;
              line-height: 2px;          
            }

  }
}
.fa{
  color: #000;
    font-size: 15pt!important;
      :hover{
        color:#2EABCC;
      }
       @include respond-to(small-screens){
        font-size: 20pt!important;
      }
      @include respond-to(smaller-screens){
        font-size: 20pt!important;
      }
      @include respond-to(medium-screens){
        font-size: 20pt!important;
      }
}
.hiring{
    text-align: center;
    padding: 13% 0 0;
    p{
      padding: 3% 0 0;
      font-family: 'Open Sans', sans-serif;
      font-size: 10pt;
      text-transform: uppercase;
      color: #FF548D;
        @include respond-to(small-screens){
          font-size:1pt;
          padding:2% 0 0;
        }
        @include respond-to(smaller-screens){
          font-size:14pt;
          padding:2% 0 0;
        }
        @include respond-to(medium-screens){
          font-size:14pt;
          padding:2% 0 0;
        }
    }
     @include respond-to(small-screens){
      bottom:62px;
     }
     @include respond-to(medium-screens){
      padding:7% 0;
     }
}