html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }
body{
  background-color: rgb(223, 217, 217);
}
h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
}
.intro-copy h2{
  text-transform:uppercase;
  font-size:17pt;
  color:#fff;
  float:none;
  clear:both;
     @include respond-to(small-screens){
      font-size:22pt;
     }
      @include respond-to(smaller-screens){
        font-size:23.5pt;
     }
     @include respond-to(medium-screens){
        font-size:26pt;
     }
     @include respond-to(large-screens){
        font-size:34pt;
     }
    span{
      font-family: 'PT Sans', sans-serif;
      font-size:26pt;
      font-weight:600;
          @include respond-to(small-screens){
            font-size:34pt;
          }
          @include respond-to(smaller-screens){
            font-size:36pt;
          }
         @include respond-to(medium-screens){
          font-size:40pt;
         }
         @include respond-to(large-screens){
          font-size:51pt;
         }
    }
}


.intro {
    width: 100%;
    min-height: 291px;
    background-color: blue;
    background-image: url("http://web.kateeldridge.co/Alec/_/images/HomePageScene.png");
    height: 100%;
    background-size:cover;
       @include respond-to(small-screens) {
          min-height:335px;
       }
       @include respond-to(smaller-screens){
          min-height: 379px;
       }
        @include respond-to(medium-screens){
          min-height:511px;
       }
       @include respond-to(large-screens){
          min-height:773px;
          height:100%;
       }
        @include respond-to(x-large-screens){
            min-height: 1024px;
            background-position-x: 38%;
            height:100%;
       }
}
.intro-copy-wrapper{
    position: relative;
    top: 109px;
    width: 257px;
    margin: 0 auto;
    max-width: 100%;
      @include respond-to(smaller-screens){
        width:268px;
      }
       @include respond-to(medium-screens){
        width:300px;
        top:187px;
      }
      @include respond-to(large-screens){
        width:100%;
        padding: 0 7%;
        top: 220px;
      }

}  
.intro-copy {
    position: relative;
    text-align: center;//can remove to remove center
   // float:left;//can add to remove center
    margin-left: 2%;
    top: 3px;
     @include respond-to(small-screens) {
     }
     @include respond-to(smaller-screens){
       
     }
     @include respond-to(medium-screens){

     }
     @include respond-to(large-screens){
          text-align:left; //can remove to center
          float:left; //can remove to center
          margin-left:0;
       }
}    
.logo{
  text-align:center; //can remove to remove center
    @include respond-to(large-screens){
      text-align:left; //can remove to center
      width:125px;
      float:left; //can remove to center
    }

    img{
      width:60px;
      height:60px;
     // float:left;//can add in to remove center
      @include respond-to(medium-screens){   
        width: 96px;
        height: 96px;
      }  
       @include respond-to(large-screens){
        width: 108px;
        height: 108px;
       }
    }
    h3{
      font-size: 15pt;
      color: #FF548D;
      float: left;
      margin-top: 13px;
      margin-left: 10px;
      @include respond-to(large-screens){
        float:none;
        margin-top:0;
        margin-left:0;
      }
    }
}
.bottom{
    min-height: 277px;
    background-color: #dfd9d9;
    z-index:2;
       @include respond-to(small-screens){
          min-height:325px;
       }  
       @include respond-to(large-screens){
          background-color:transparent;
          position: relative;
          top: 270px;
          width: 100%;
          padding: 0 7%;
       }
       @include respond-to(x-large-screens){
          background-color:transparent;
       }
}
.bottom-before{
    content: " ";
    position: relative;
    left: 0;
    top:-18px;
    width: 100%;
    background-color: rgb(223, 217, 217);
    height: 32px;
    transform: skew(0deg, -4.2deg);
    -webkit-transform: skew(0deg, -4.2deg);
    -moz-transform: skew(0deg, -4.2deg);
    -o-transform: skew(0deg, -4.2deg);
    -ms-transform: skew(0deg, -4.2deg);
    float: left;
    position: relative;
    @include respond-to(small-screens){
      top:-19px;
      height:37px;
    }
    @include respond-to(smaller-screens){
      top: -22px;
      height: 44px;
    }
    @include respond-to(medium-screens){
      top: -29px;
      height: 57px;
    }  
    @include respond-to(large-screens){
     display:none;
    }
    @include respond-to(x-large-screens){
     display:none;
    }
}

.bottom-copy{
    padding: 0 6%;
      @include respond-to(large-screens){
          padding: 0;
          width: 60%;
      }
      p{
        z-index: 1;
        font-family: 'Open Sans', sans-serif;
        line-height: 1.3;
        font-size: 11pt;
        position: relative;
        bottom: 16px;
            @include respond-to(small-screens){
               padding: 11% 1% 2%;
               font-size:12pt
            } 
            @include respond-to(smaller-screens){
              font-size: 12pt;
              padding-bottom: 4%;
            }
            @include respond-to(medium-screens){
              font-size:14pt;
            }  
            @include respond-to(large-screens){
                color: #fff;
                font-size: 15pt;
                line-height: 1.4;
            }
        }       
        span{
            color: #FF548D;
            text-transform: uppercase;
            font-size: 18pt;
            line-height: 2px;          
        }

  }
.fa{
  color: #000;
    font-size: 15pt!important;
      :hover{
          color: #B22957;
      }
       @include respond-to(small-screens){
        font-size: 20pt!important;
      }
      @include respond-to(smaller-screens){
        font-size: 20pt!important;
      }
      @include respond-to(medium-screens){
        font-size: 20pt!important;
      }
}
.hiring{
    text-align: center;
    padding: 0px 0 5%;
    p{
      padding: 3% 0 0;
      font-family: 'Open Sans', sans-serif;
      font-size: 10pt;
      text-transform: uppercase;
      color: #FF548D;
        @include respond-to(smaller-screens){
          font-size:12pt;
          padding:2% 0 0;
        }
        @include respond-to(medium-screens){
          font-size:14pt;
          padding:2% 0 0;
        }
    }
     @include respond-to(small-screens){
      bottom:62px;
     }
     @include respond-to(medium-screens){
      padding:7% 0;
     }
}