    
.input {
    display:none;
    height: 50px;
    padding: 0% 6%;
    margin-bottom: 30%;
        @include respond-to(smaller-screens) {
            margin-bottom: 25%;
        }
        @include respond-to(medium-screens) {
            margin-bottom: 15%;
        }
         @include respond-to(large-screens) {
            padding:0;
            margin-bottom: 13%;
        }
         @include respond-to(x-large-screens) {
            padding:0;
            margin-bottom: 8%;
        }
}

.input-fields {
        @include respond-to(medium-screens){
            width: 100%;
            float: left;
            margin-bottom:2%;
        }
        @include respond-to(x-large-screens){
            width: 85%;
        }
}

input[type="text"],input[type=email] {
    display: block;
    margin: 0;
    width: 100%;
    font-family: sans-serif;
    font-size: 18px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    padding: 10px;
    border: none;
    height:39px;
    margin:2% 0;
        @include respond-to(smaller-screens){
            height: 39px;
        }
        @include respond-to(medium-screens){
            height: 39px;
        }
        @include respond-to(x-large-screens){
            height: 44px;
        }
}
input[type="text"]:focus, input[type=email]:focus {
    outline: none;
}
input#name {
    margin-right: 3px;
        @include respond-to(large-screens){
            margin-right: 3px;
            width: 32%;
            float: left;
        }
         @include respond-to(x-large-screens){
            margin-right: 3px;
            width: 20%;
            float: left;
        }
}
input#email{
        @include respond-to(large-screens){
            width: 35%;
            float: left;
        }
        @include respond-to(x-large-screens){
            width: 23%;
            float: left;
        }
}


/**** cross-browser placeholder styling ((**/

input::-webkit-input-placeholder {
   color:rgba(255, 84, 141, 0.38);
}
input:focus::-webkit-input-placeholder {
   color: #FF548D; 
}
input:-moz-placeholder { /* Firefox 18- */
   color:rgba(255, 84, 141, 0.38);
}
input:focus::-moz-placeholder { /* Firefox 18- */
   color: #FF548D; 
}
input::-moz-placeholder {  /* Firefox 19+ */
   color:rgba(255, 84, 141, 0.38);
}
input:focus::-moz-placeholder {  /* Firefox 19+ */
   color: #FF548D; 
}
:-ms-input-placeholder {  
   color:rgba(255, 84, 141, 0.38);
}
input:focus:-ms-input-placeholder {  
   color: #FF548D; 
}



