/* Vendor Dependancies */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600italic,700,800);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Authored Dependancies*/
/* line 1, ../components/sass/_custom.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../components/sass/_custom.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* line 11, ../components/sass/_custom.scss */
body {
  background-color: #dfd9d9;
}

/* line 14, ../components/sass/_custom.scss */
h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
}

/* line 17, ../components/sass/_custom.scss */
.intro-copy h2 {
  text-transform: uppercase;
  font-size: 17pt;
  color: #fff;
  float: none;
  clear: both;
}
@media only screen and (min-width: 400px) and (max-width: 500px) {
  /* line 17, ../components/sass/_custom.scss */
  .intro-copy h2 {
    font-size: 22pt;
  }
}
@media only screen and (min-width: 501px) and (max-width: 600px) {
  /* line 17, ../components/sass/_custom.scss */
  .intro-copy h2 {
    font-size: 23.5pt;
  }
}
@media only screen and (min-width: 601px) and (max-width: 772px) {
  /* line 17, ../components/sass/_custom.scss */
  .intro-copy h2 {
    font-size: 26pt;
  }
}
@media only screen and (min-width: 773px) and (max-width: 992px) {
  /* line 17, ../components/sass/_custom.scss */
  .intro-copy h2 {
    font-size: 34pt;
  }
}
/* line 35, ../components/sass/_custom.scss */
.intro-copy h2 span {
  font-family: 'PT Sans', sans-serif;
  font-size: 26pt;
  font-weight: 600;
}
@media only screen and (min-width: 400px) and (max-width: 500px) {
  /* line 35, ../components/sass/_custom.scss */
  .intro-copy h2 span {
    font-size: 34pt;
  }
}
@media only screen and (min-width: 501px) and (max-width: 600px) {
  /* line 35, ../components/sass/_custom.scss */
  .intro-copy h2 span {
    font-size: 36pt;
  }
}
@media only screen and (min-width: 601px) and (max-width: 772px) {
  /* line 35, ../components/sass/_custom.scss */
  .intro-copy h2 span {
    font-size: 40pt;
  }
}
@media only screen and (min-width: 773px) and (max-width: 992px) {
  /* line 35, ../components/sass/_custom.scss */
  .intro-copy h2 span {
    font-size: 51pt;
  }
}

/* line 55, ../components/sass/_custom.scss */
.intro {
  width: 100%;
  min-height: 291px;
  background-color: blue;
  background-image: url("http://web.kateeldridge.co/Alec/_/images/HomePageScene.png");
  height: 100%;
  background-size: cover;
}
@media only screen and (min-width: 400px) and (max-width: 500px) {
  /* line 55, ../components/sass/_custom.scss */
  .intro {
    min-height: 335px;
  }
}
@media only screen and (min-width: 501px) and (max-width: 600px) {
  /* line 55, ../components/sass/_custom.scss */
  .intro {
    min-height: 379px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 772px) {
  /* line 55, ../components/sass/_custom.scss */
  .intro {
    min-height: 511px;
  }
}
@media only screen and (min-width: 773px) and (max-width: 992px) {
  /* line 55, ../components/sass/_custom.scss */
  .intro {
    min-height: 773px;
    height: 100%;
  }
}
@media only screen and (min-width: 993px) {
  /* line 55, ../components/sass/_custom.scss */
  .intro {
    min-height: 1024px;
    background-position-x: 38%;
    height: 100%;
  }
}

/* line 81, ../components/sass/_custom.scss */
.intro-copy-wrapper {
  position: relative;
  top: 109px;
  width: 257px;
  margin: 0 auto;
  max-width: 100%;
}
@media only screen and (min-width: 501px) and (max-width: 600px) {
  /* line 81, ../components/sass/_custom.scss */
  .intro-copy-wrapper {
    width: 268px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 772px) {
  /* line 81, ../components/sass/_custom.scss */
  .intro-copy-wrapper {
    width: 300px;
    top: 187px;
  }
}
@media only screen and (min-width: 773px) and (max-width: 992px) {
  /* line 81, ../components/sass/_custom.scss */
  .intro-copy-wrapper {
    width: 100%;
    padding: 0 7%;
    top: 220px;
  }
}

/* line 101, ../components/sass/_custom.scss */
.intro-copy {
  position: relative;
  text-align: center;
  margin-left: 2%;
  top: 3px;
}
@media only screen and (min-width: 773px) and (max-width: 992px) {
  /* line 101, ../components/sass/_custom.scss */
  .intro-copy {
    text-align: left;
    float: left;
    margin-left: 0;
  }
}

/* line 121, ../components/sass/_custom.scss */
.logo {
  text-align: center;
}
@media only screen and (min-width: 773px) and (max-width: 992px) {
  /* line 121, ../components/sass/_custom.scss */
  .logo {
    text-align: left;
    width: 125px;
    float: left;
  }
}
/* line 129, ../components/sass/_custom.scss */
.logo img {
  width: 60px;
  height: 60px;
}
@media only screen and (min-width: 601px) and (max-width: 772px) {
  /* line 129, ../components/sass/_custom.scss */
  .logo img {
    width: 96px;
    height: 96px;
  }
}
@media only screen and (min-width: 773px) and (max-width: 992px) {
  /* line 129, ../components/sass/_custom.scss */
  .logo img {
    width: 108px;
    height: 108px;
  }
}
/* line 142, ../components/sass/_custom.scss */
.logo h3 {
  font-size: 15pt;
  color: #FF548D;
  float: left;
  margin-top: 13px;
  margin-left: 10px;
}
@media only screen and (min-width: 773px) and (max-width: 992px) {
  /* line 142, ../components/sass/_custom.scss */
  .logo h3 {
    float: none;
    margin-top: 0;
    margin-left: 0;
  }
}

/* line 155, ../components/sass/_custom.scss */
.bottom {
  min-height: 277px;
  background-color: #dfd9d9;
  z-index: 2;
}
@media only screen and (min-width: 400px) and (max-width: 500px) {
  /* line 155, ../components/sass/_custom.scss */
  .bottom {
    min-height: 325px;
  }
}
@media only screen and (min-width: 773px) and (max-width: 992px) {
  /* line 155, ../components/sass/_custom.scss */
  .bottom {
    background-color: transparent;
    position: relative;
    top: 270px;
    width: 100%;
    padding: 0 7%;
  }
}
@media only screen and (min-width: 993px) {
  /* line 155, ../components/sass/_custom.scss */
  .bottom {
    background-color: transparent;
  }
}

/* line 173, ../components/sass/_custom.scss */
.bottom-before {
  content: " ";
  position: relative;
  left: 0;
  top: -18px;
  width: 100%;
  background-color: #dfd9d9;
  height: 32px;
  transform: skew(0deg, -4.2deg);
  -webkit-transform: skew(0deg, -4.2deg);
  -moz-transform: skew(0deg, -4.2deg);
  -o-transform: skew(0deg, -4.2deg);
  -ms-transform: skew(0deg, -4.2deg);
  float: left;
  position: relative;
}
@media only screen and (min-width: 400px) and (max-width: 500px) {
  /* line 173, ../components/sass/_custom.scss */
  .bottom-before {
    top: -19px;
    height: 37px;
  }
}
@media only screen and (min-width: 501px) and (max-width: 600px) {
  /* line 173, ../components/sass/_custom.scss */
  .bottom-before {
    top: -22px;
    height: 44px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 772px) {
  /* line 173, ../components/sass/_custom.scss */
  .bottom-before {
    top: -29px;
    height: 57px;
  }
}
@media only screen and (min-width: 773px) and (max-width: 992px) {
  /* line 173, ../components/sass/_custom.scss */
  .bottom-before {
    display: none;
  }
}
@media only screen and (min-width: 993px) {
  /* line 173, ../components/sass/_custom.scss */
  .bottom-before {
    display: none;
  }
}

/* line 208, ../components/sass/_custom.scss */
.bottom-copy {
  padding: 0 6%;
}
@media only screen and (min-width: 773px) and (max-width: 992px) {
  /* line 208, ../components/sass/_custom.scss */
  .bottom-copy {
    padding: 0;
    width: 60%;
  }
}
/* line 214, ../components/sass/_custom.scss */
.bottom-copy p {
  z-index: 1;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.3;
  font-size: 11pt;
  position: relative;
  bottom: 16px;
}
@media only screen and (min-width: 400px) and (max-width: 500px) {
  /* line 214, ../components/sass/_custom.scss */
  .bottom-copy p {
    padding: 11% 1% 2%;
    font-size: 12pt;
  }
}
@media only screen and (min-width: 501px) and (max-width: 600px) {
  /* line 214, ../components/sass/_custom.scss */
  .bottom-copy p {
    font-size: 12pt;
    padding-bottom: 4%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 772px) {
  /* line 214, ../components/sass/_custom.scss */
  .bottom-copy p {
    font-size: 14pt;
  }
}
@media only screen and (min-width: 773px) and (max-width: 992px) {
  /* line 214, ../components/sass/_custom.scss */
  .bottom-copy p {
    color: #fff;
    font-size: 15pt;
    line-height: 1.4;
  }
}
/* line 238, ../components/sass/_custom.scss */
.bottom-copy span {
  color: #FF548D;
  text-transform: uppercase;
  font-size: 18pt;
  line-height: 2px;
}

/* line 246, ../components/sass/_custom.scss */
.fa {
  color: #000;
  font-size: 15pt !important;
}
/* line 249, ../components/sass/_custom.scss */
.fa :hover {
  color: #B22957;
}
@media only screen and (min-width: 400px) and (max-width: 500px) {
  /* line 246, ../components/sass/_custom.scss */
  .fa {
    font-size: 20pt !important;
  }
}
@media only screen and (min-width: 501px) and (max-width: 600px) {
  /* line 246, ../components/sass/_custom.scss */
  .fa {
    font-size: 20pt !important;
  }
}
@media only screen and (min-width: 601px) and (max-width: 772px) {
  /* line 246, ../components/sass/_custom.scss */
  .fa {
    font-size: 20pt !important;
  }
}

/* line 262, ../components/sass/_custom.scss */
.hiring {
  text-align: center;
  padding: 0px 0 5%;
}
/* line 265, ../components/sass/_custom.scss */
.hiring p {
  padding: 3% 0 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
  text-transform: uppercase;
  color: #FF548D;
}
@media only screen and (min-width: 501px) and (max-width: 600px) {
  /* line 265, ../components/sass/_custom.scss */
  .hiring p {
    font-size: 12pt;
    padding: 2% 0 0;
  }
}
@media only screen and (min-width: 601px) and (max-width: 772px) {
  /* line 265, ../components/sass/_custom.scss */
  .hiring p {
    font-size: 14pt;
    padding: 2% 0 0;
  }
}
@media only screen and (min-width: 400px) and (max-width: 500px) {
  /* line 262, ../components/sass/_custom.scss */
  .hiring {
    bottom: 62px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 772px) {
  /* line 262, ../components/sass/_custom.scss */
  .hiring {
    padding: 7% 0;
  }
}

/* line 2, ../components/sass/_forms.scss */
.register p {
  text-align: center;
  font-size: 9pt;
  font-family: 'Open Sans', sans-serif;
  color: #3297B2;
  margin-top: 5px;
  margin-left: 4px;
}
@media only screen and (min-width: 400px) and (max-width: 500px) {
  /* line 2, ../components/sass/_forms.scss */
  .register p {
    bottom: 95px;
    margin-left: 0;
    text-align: center;
  }
}
@media only screen and (min-width: 501px) and (max-width: 600px) {
  /* line 2, ../components/sass/_forms.scss */
  .register p {
    text-align: center;
  }
}
@media only screen and (min-width: 601px) and (max-width: 772px) {
  /* line 2, ../components/sass/_forms.scss */
  .register p {
    font-size: 11pt;
  }
}

/* line 22, ../components/sass/_forms.scss */
.input {
  height: 50px;
  padding: 0% 6%;
  margin-bottom: 30%;
}
@media only screen and (min-width: 501px) and (max-width: 600px) {
  /* line 22, ../components/sass/_forms.scss */
  .input {
    margin-bottom: 25%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 772px) {
  /* line 22, ../components/sass/_forms.scss */
  .input {
    margin-bottom: 15%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 772px) {
  /* line 33, ../components/sass/_forms.scss */
  .input-fields {
    width: 100%;
    float: left;
    margin-bottom: 2%;
  }
}

/* line 41, ../components/sass/_forms.scss */
input[type="text"], input[type=email] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  padding: 10px;
  border: none;
  height: 39px;
  margin: 2% 0;
}
@media only screen and (min-width: 501px) and (max-width: 600px) {
  /* line 41, ../components/sass/_forms.scss */
  input[type="text"], input[type=email] {
    height: 39px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 772px) {
  /* line 41, ../components/sass/_forms.scss */
  input[type="text"], input[type=email] {
    height: 39px;
  }
}

/* line 61, ../components/sass/_forms.scss */
input[type="text"]:focus, input[type=email]:focus {
  outline: none;
}

/* line 64, ../components/sass/_forms.scss */
input#name {
  margin-right: 3px;
}

/* line 78, ../components/sass/_forms.scss */
input::-webkit-input-placeholder {
  color: rgba(255, 84, 141, 0.38);
}

/* line 81, ../components/sass/_forms.scss */
input:focus::-webkit-input-placeholder {
  color: #FF548D;
}

/* line 84, ../components/sass/_forms.scss */
input:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 84, 141, 0.38);
}

/* line 87, ../components/sass/_forms.scss */
input:focus::-moz-placeholder {
  /* Firefox 18- */
  color: #FF548D;
}

/* line 90, ../components/sass/_forms.scss */
input::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 84, 141, 0.38);
}

/* line 93, ../components/sass/_forms.scss */
input:focus::-moz-placeholder {
  /* Firefox 19+ */
  color: #FF548D;
}

/* line 96, ../components/sass/_forms.scss */
:-ms-input-placeholder {
  color: rgba(255, 84, 141, 0.38);
}

/* line 99, ../components/sass/_forms.scss */
input:focus:-ms-input-placeholder {
  color: #FF548D;
}

/* line 104, ../components/sass/_forms.scss */
.round {
  background-color: transparent;
  border: 2px solid #3297B2;
  width: 30.5px;
  height: 30.5px;
  border-radius: 50%;
  transition: .3s;
  cursor: pointer;
}
@media only screen and (min-width: 400px) and (max-width: 500px) {
  /* line 104, ../components/sass/_forms.scss */
  .round {
    width: 50px;
    height: 50px;
  }
}
@media only screen and (min-width: 501px) and (max-width: 600px) {
  /* line 104, ../components/sass/_forms.scss */
  .round {
    width: 50px;
    height: 50px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 772px) {
  /* line 104, ../components/sass/_forms.scss */
  .round {
    width: 50px;
    height: 50px;
  }
}

/* line 125, ../components/sass/_forms.scss */
.btn {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 auto 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
}

/* line 140, ../components/sass/_forms.scss */
.btn-1 {
  background: #2da6c6;
  font-weight: 100;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  border: none;
  padding: 0;
  margin-top: 2%;
}
/* line 148, ../components/sass/_forms.scss */
.btn-1 svg {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 156, ../components/sass/_forms.scss */
.btn-1 rect {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
}

/* line 164, ../components/sass/_forms.scss */
.btn-1:hover {
  background: #3297b2;
  letter-spacing: 1px;
}
/* line 168, ../components/sass/_forms.scss */
.btn-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

/* line 176, ../components/sass/_forms.scss */
.btn-1.square {
  background-color: transparent;
  color: #FF548D;
}
/* line 179, ../components/sass/_forms.scss */
.btn-1.square :hover {
  background: transparent;
  letter-spacing: 1px;
}
