/* Vendor Dependancies */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600italic,700,800);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Authored Dependancies*/
/* line 1, ../components/sass/_custom.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../components/sass/_custom.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* line 11, ../components/sass/_custom.scss */
body {
  background-color: #dfd9d9;
}

/* line 14, ../components/sass/_custom.scss */
h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
}

/* line 17, ../components/sass/_custom.scss */
h2 {
  text-transform: uppercase;
  font-size: 20pt;
  color: #fff;
}
/* line 21, ../components/sass/_custom.scss */
h2 span {
  font-family: 'PT Sans', sans-serif;
  font-size: 40px;
}

/* line 28, ../components/sass/_custom.scss */
.intro {
  width: 100%;
  min-height: 291px;
  background-color: blue;
  background-image: url("http://web.kateeldridge.co/Alec/_/images/HomePageScene.png");
  height: 100%;
  background-size: cover;
}
@media only screen and (min-width: 400px) and (max-width: 500px) {
  /* line 28, ../components/sass/_custom.scss */
  .intro {
    min-height: 335px;
  }
}
@media only screen and (min-width: 501px) and (max-width: 600px) {
  /* line 28, ../components/sass/_custom.scss */
  .intro {
    min-height: 379px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 772px) {
  /* line 28, ../components/sass/_custom.scss */
  .intro {
    min-height: 516px;
  }
}

/* line 45, ../components/sass/_custom.scss */
.intro-copy {
  position: relative;
  top: 134px;
  text-align: center;
}
@media only screen and (min-width: 400px) and (max-width: 500px) {
  /* line 45, ../components/sass/_custom.scss */
  .intro-copy {
    top: 189px;
  }
}
@media only screen and (min-width: 501px) and (max-width: 600px) {
  /* line 45, ../components/sass/_custom.scss */
  .intro-copy {
    top: 200px;
  }
}

/* line 56, ../components/sass/_custom.scss */
.logo {
  text-align: center;
}
/* line 58, ../components/sass/_custom.scss */
.logo img {
  width: 40px;
  height: 40px;
}

/* line 63, ../components/sass/_custom.scss */
.bottom {
  min-height: 277px;
  background-color: #dfd9d9;
  z-index: 2;
}
@media only screen and (min-width: 400px) and (max-width: 500px) {
  /* line 63, ../components/sass/_custom.scss */
  .bottom {
    min-height: 325px;
  }
}

/* line 72, ../components/sass/_custom.scss */
.bottom-before {
  content: " ";
  position: relative;
  left: 0;
  top: -18px;
  width: 100%;
  background-color: #dfd9d9;
  height: 32px;
  transform: skew(0deg, -4.2deg);
  -webkit-transform: skew(0deg, -4.2deg);
  -moz-transform: skew(0deg, -4.2deg);
  -o-transform: skew(0deg, -4.2deg);
  -ms-transform: skew(0deg, -4.2deg);
  float: left;
  position: relative;
}
@media only screen and (min-width: 400px) and (max-width: 500px) {
  /* line 72, ../components/sass/_custom.scss */
  .bottom-before {
    top: -19px;
    height: 37px;
  }
}
@media only screen and (min-width: 501px) and (max-width: 600px) {
  /* line 72, ../components/sass/_custom.scss */
  .bottom-before {
    top: -22px;
    height: 44px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 772px) {
  /* line 72, ../components/sass/_custom.scss */
  .bottom-before {
    top: -29px;
    height: 57px;
  }
}
@media only screen and (min-width: 773px) and (max-width: 992px) {
  /* line 72, ../components/sass/_custom.scss */
  .bottom-before {
    top: -26px;
    height: 52px;
  }
}

/* line 105, ../components/sass/_custom.scss */
.bottom-copy {
  padding: 0 6% 5%;
}
/* line 107, ../components/sass/_custom.scss */
.bottom-copy p {
  z-index: 1;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.3;
  font-size: 11pt;
}
/* line 112, ../components/sass/_custom.scss */
.bottom-copy p span {
  color: #B22957;
  text-transform: uppercase;
  font-size: 18pt;
  line-height: 2px;
}
@media only screen and (min-width: 400px) and (max-width: 500px) {
  /* line 105, ../components/sass/_custom.scss */
  .bottom-copy {
    padding: 11% 6% 5%;
  }
}

/* line 123, ../components/sass/_custom.scss */
.fa {
  color: #000;
  font-size: 15pt !important;
}
/* line 126, ../components/sass/_custom.scss */
.fa :hover {
  color: #2EABCC;
}

/* line 130, ../components/sass/_custom.scss */
.hiring {
  text-align: center;
  padding: 12% 21% 0;
}
/* line 133, ../components/sass/_custom.scss */
.hiring p {
  float: left;
  padding: 5% 3%;
}
@media only screen and (min-width: 400px) and (max-width: 500px) {
  /* line 130, ../components/sass/_custom.scss */
  .hiring {
    bottom: 62px;
  }
}

/* line 1, ../components/sass/_forms.scss */
.input {
  height: 50px;
  padding: 4% 6%;
}
/* line 4, ../components/sass/_forms.scss */
.input p {
  font-size: 9pt;
  font-family: 'Open Sans', sans-serif;
  color: #3297B2;
  margin-top: 5px;
  margin-left: 4px;
}
@media only screen and (min-width: 400px) and (max-width: 500px) {
  /* line 1, ../components/sass/_forms.scss */
  .input {
    bottom: 95px;
    margin-left: 0;
    text-align: center;
  }
}

/* line 17, ../components/sass/_forms.scss */
input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  padding: 10px;
  border: none;
}

/* line 29, ../components/sass/_forms.scss */
input[type="text"]:focus {
  outline: none;
  height: 36px;
  width: 189px;
}

/* line 35, ../components/sass/_forms.scss */
input#email {
  height: 36px;
  width: 70%;
  border: none;
}
@media only screen and (min-width: 400px) and (max-width: 500px) {
  /* line 35, ../components/sass/_forms.scss */
  input#email {
    width: 76%;
  }
}

/* line 44, ../components/sass/_forms.scss */
button {
  text-decoration: none;
  color: #fff;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: .2s ease-out;
  -moz-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  -ms-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: pointer;
  margin: 0;
  position: relative;
}

/* line 59, ../components/sass/_forms.scss */
.square {
  background-color: #2EABCC;
  height: 36px;
  border: none;
  width: 78px;
  right: 3px;
}

/* line 66, ../components/sass/_forms.scss */
.square:hover {
  background-color: #3297B2;
}

/* line 69, ../components/sass/_forms.scss */
.round {
  background-color: transparent;
  border: 2px solid #3297B2;
  width: 35.5px;
  height: 35.5px;
  border-radius: 50%;
  transition: .3s;
  cursor: pointer;
  vertical-align: middle;
  display: inline;
}
